<li class="meetup-items">
    <article>
        <div class="meetup-summary">
            <div class="meetup-image">
                <img src="{{ image }}" alt="{{ title }}">
            </div>
            <div class="meetup-details">
                <h3>{{ title }}</h3>
                <address>{{ location }}</address>
                <h3>{{ slug }}</h3>
            </div>
            <hr>
            <div class="meetup-actions">
                <a href="{% url 'meetup-detail' mi.slug %}"class="btn">More details</a>
            </div>
        </div>
    </article>
</li>